Flask==3.1.0
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.13.1
pytest==8.3.4
requests==2.32.3
sqlalchemy==2.0.38
transformers==4.48.3
torch==2.6.0+cu118
torchvision==0.21.0+cu118
tqdm==4.67.1
pydantic==1.10.21
